<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form method="post" action="/create-account">
        <h1><%= pageHeader %></h1>
        <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Enter your username">
        </div>
        <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
        </div>
        <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Re-enter your password">
        </div>
        <button type="submit">Create Account</button>
        <div class="footer">
            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </form>
    
</body>
</html>

