<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="dashboard">
        <h1>Dashboard</h1>
        <div class="user-actions">
            <button id="settingsBtn"><i class="fas fa-cog"></i></button>
            <button id="profileBtn"><i class="fas fa-user"></i></button>
            <button id="logoutBtn"><i class="fas fa-sign-out-alt"></i></button>
        </div>
        <form action="/api/vouchers" method="post">
            <button type="submit">Generate QR Code</button>
        </form>
        <canvas id="qrCodeCanvas" style="display: none;"></canvas>
        <p id="successMessage"></p>
        <ul id="voucherList">
            </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

</body>
</html>