<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form class="form-custom" method="post" action="/login" >
        <h1><%= pageHeader %></h1>
        <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Enter your username">
        </div>
        <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
        </div>
        <button type="submit">Login</button>
        <div class="footer">
            <p>Don't have an account? <a href="/create-account">Create one here</a></p>
        </div>
    </form>
    <script>
       const session = async () => {
            const res = await fetch('/session', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const data = await res.json();
                console.log(data);
                if (data.isLoggedIn) {
                    console.log('Logged in');
                    window.location.href = '/dashboard';
                } else {
                    console.log('Logged out');
                }
            
        }
        session();
    </script>
         
</body>
</html>
